@use '../../styles/variables';

.dt-capture-frame {
  width: 100%;
  height: 40vh;
  background: variables.$color-blue-light;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Imagenull-logo {
  height: 20vh;
  width: 10vw;
}
.Imageview-logo {
  height: 7vh;
  width: 3.5vw;
}
.capture-bottomleft-cont {
  position: absolute;
  bottom: 1.3vh;
  left: 0.8vw;
  cursor: pointer;
}
