@use '../../styles/variables';

.button-main-cont {
  display: flex;
  justify-content: center;
}
.dt-button-cont {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.button-submit {
  height: 9.8vh;
  width: 10vw;
}
