@use '../../styles/variables';

.button-main-cont {
  display: flex;
  justify-content: center;
}
.dt-button-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vh;
  margin-bottom: 1.2vh;
  margin-left: 1vw;
}
.button-submit {
  height: 9.8vh;
  width: 10vw;
}
